{
  "presets": [
    [
      "@babel/preset-react",
      {
        "useBuiltIns": true
      }
    ],
    [
      "@emotion/babel-preset-css-prop",
      {
        "useBuiltIns": true,
        "autoLabel": true,
        "sourceMap": false
      }
    ],

  ],
  "plugins": [
    [
      "@babel/plugin-proposal-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ]
  ]
}
